#controlBar {
-fx-spacing: 4;
-fx-padding: 4;
-fx-background-color: #121212;
}

#search {
-fx-pref-width: 90;
-fx-spacing: inherit;
-fx-background-color: #121212;
-fx-text-fill: white;
-fx-prompt-text-fill: white;
}

#search:focused{
   -fx-background-color:
        #0093EF,
        #121212;
}
#search:hover{
    -fx-cursor: hand;
    -fx-background-color:
        #0093EF,
        #121212;
}


#timeBox {
-fx-spacing: inherit;
-fx-alignment: baseline-left;
}

#hour {
-fx-pref-width: 75;
-fx-alignment: baseline-right;
-fx-background-color: #fff;
-fx-background-color: #121212;
-fx-text-fill: white;
}
#hour:focused {
    -fx-background-color:
        #0093EF,
        #121212;
}

#hour:hover {
    -fx-cursor: hand;
    -fx-background-color:
        #0093EF,
        #121212;
}

#hour:focused:hover {
    -fx-background-color:
        #0093EF,
        #121212;
}

.button {
 -fx-spacing: inherit;
 -fx-background-color: #121212;
 -fx-background-radius: 5em;
 -fx-min-width: 27px;
 -fx-min-height: 27px;
 -fx-max-width: 27px;
 -fx-max-height: 27px;
 -fx-text-fill: white;
 }

#st{
   -fx-spacing: inherit;
   -fx-background-color: #121212;
   -fx-background-radius: 5em;
   -fx-min-width: 27px;
   -fx-min-height: 27px;
   -fx-max-width: 27px;
   -fx-max-height: 27px;
   -fx-text-fill: white;
   }

#st {
-fx-cursor : null;
}

.button:hover{
-fx-cursor: hand;
-fx-background-color:#3f454a;
}

.combo-box > .cell {
        -fx-text-fill: white;

}

.combo-box {
        -fx-background-color: #121212;
        -fx-pref-width: 150;
        -fx-mark-color : white;
}

.combo-box .combo-box-popup .list-view, .combo-box .combo-box-popup .list-cell {
       -fx-background-color: #121212 ;
       -fx-text-fill: white;
       }

.combo-box:focused{
 -fx-background-color:
     #0093EF,
     #121212;}

.combo-box:hover{
    -fx-cursor: hand;
 -fx-background-color:
        #0093EF,
        #121212;}

.combo-box:focused:hover{
 -fx-background-color:
        #0093EF,
        #121212;
}

.date-picker > .arrow-button {
        -fx-background-color: #121212;
        -fx-button-color : #fff
}

.date-picker {
        -fx-pref-width: 120;
        -fx-control-inner-background: #121212;
        -fx-background-color: #121212;
}

.date-picker:hover{
    -fx-cursor: hand;
 -fx-background-color:
        #0093EF,
        #121212;
}

.choice-box {
    -fx-background-color: #121212;
    -fx-mark-color : white;
}

.choice-box .label {
        -fx-text-fill: #fff;

}
.choice-box .context-menu {
    -fx-background-color: #121212;
    -fx-prompt-text-fill: white;
}

.choice-box:hover{
    -fx-cursor: hand;
 -fx-background-color:
        #0093EF,
        #121212;
}
.choice-box:focused{
 -fx-background-color:
        #0093EF,
        #121212;
}
.choice-box:focused:hover{
 -fx-background-color:
        #0093EF,
        #121212;
}

#inf {
-fx-padding: 4;
-fx-background-color: #121212;
}